@media screen and (max-width: 600px) {
  /* .slideshow-slide--mobile .slideshow-slide__image--mobile,
  .slideshow-slide--mobile
    .slideshow-slide__image--mobile
    + [data-rimg-canvas] {
    display: none;
  } */
  .slideshow-slide__image--desktop {
    display: none;
  }
}
@media screen and (min-width: 718px) {
  .slideshow-slide--mobile .slideshow-slide__image--mobile,
  .slideshow-slide--mobile
    .slideshow-slide__image--mobile
    + [data-rimg-canvas] {
    display: none;
  }
}
